.footer {
    background-size: 100%;
	text-align: center;
	background-image: url(../../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.position-content {
	text-align: center !important;
}
.img-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 51, 0.6);
    padding: 21PX 0;
}
.footer-section {
	/*display: flex;
	justify-content: space-between;
	vertical-align: top;*/
	color: #FFF;
}

.footer-section-content {
	display: flex;
	justify-content: center;
}
.icon-content {
	margin-right: 18px;
}
.content-text {
	max-width: 242px;
	text-align: center;
	color: #F2F7FF;
}
.form-footer {
	max-width: 610px;
	margin: 0 auto;
}
.position-content-r {
	text-align: right !important;
}
.input-email {
	margin-right: 12px;
}
@media (min-width: 585px) and (max-width: 960px) {
	.input-email {
		margin-right: 12px !important;
}
}

@media (min-width: 320px) {
.input-email {
	padding: 16px;
	font-size: 16px;
	width: 265px;
	margin-right: 0;
	margin-bottom: 7px;
}
.footer-section-item h2 {
	text-align: center !important;
}
}
@media (min-width: 480px) {
.input-email {
	padding: 16px;
	font-size: 16px;
	width: 260px;
    margin-right: 0;
}
.footer-section-item h2 {
	text-align: center !important;
}
}
@media (min-width: 640px) and (max-width: 584px) {
  .input-email {
	padding: 18px;
	font-size: 16px;
	width: 368px;
	margin-right: 0 !important;
}

.footer-section-item h2 {
	text-align: center !important;
}
}
@media (min-width: 960px) {
  .input-email {
	padding: 20px;
	font-size: 16px;
	width: 368px;
	margin-right: 12px !important;
}
.footer-section-content {
	display: flex;
	justify-content: flex-start;
}
.footer {
	text-align: left;
}

.footer-section-item h2 {
	text-align: right !important;
}
.content-text {
	text-align: left;
}
}
